<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>

    </style>
</head>

<body>
    <h1>Home</h1>
    <button id="logout-button">Logout</button>
    <button id="add-post-button">Add Post</button>

    <script src="../../logic/getUserName.js"></script>
    <script src="../../logic/logoutUser.js"></script>
    <script src="../../logic/savePost.js"></script>
    <script src="index.js"></script>
</body>

</html>