<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>

    </style>
</head>

<body>
    <h1>Login</h1>

    <form>
        <label for="username-input">Username</label>
        <input type="text" id="username-input" name="username" placeholder="username">

        <label for="password-input">Password</label>
        <input type="password" id="password-input" name="password" placeholder="password">

        <button type="submit">Login</button>
    </form>

    <a href="">Register</a>

    <script src="../../logic/loginUser.js"></script>
    <script src="index.js"></script>
</body>

</html>