* {
    margin: 0;
}

.view {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    background-image: url(./../../img/background/background_img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.status_bar {
    top: 0;
}

h1 {
    font-family: Poppins;
    font-size: 32px;
    color: #1F41BB;
    position: fixed;
    margin-top: 5rem;
    top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    min-width: 80vw;
    min-height: 100%;
    overflow-y: auto;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: column;
    color: lightgray;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 4px 10px 12px;
    border: none;
    border-radius: 4px;
    background-color: #F1F4FF;
}

a {
    display: flex;
    box-sizing: border-box;
}

#login_button {
    background-color: #1F41BB;
    color: #F1F4FF;
}

.form__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #1F41BB;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    padding: 10px 15px;
    border: 2px solid #1F41BB;
    border-radius: 6px;
    background-color: white;
}

img {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
}

.footer {
    bottom: 0;
}