html {
    /* background-color: springgreen; */
    /* height: 100%; */
}

/* body {
    background-color: red;
    border: 5px solid yellow;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
} */

.view {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    /* background-color: red; */
}

.heading_h1 {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.form__input {
    font-size: inherit;
}

.form__button {
    font-size: inherit;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    /* padding: 10rem; */
    /* margin: 2rem; */
    /* background-color: black; */
}

.post {
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px 1px lightgray;
    /* padding: 1rem; */
    /* background-color: blueviolet; */
}

.post__author {
    margin: .5rem;
}

.post__image {
    width: 100%;
}

.icon_section {
    left: 0;
    /* margin: 1rem; */
    /* width: 100%; */
    /* background-color: red; */
}

.likeButton {
    background-color: transparent;
    /* background-size: 1rem; */
    margin: 0rem 0rem 0rem .5rem;
    display: flex;
    border: none;
    left: 0;
    padding: 0;
}

.likeIcon {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    width: 1.5rem;
    padding: 0;
}

.post_caption {
    font-size: 18px;
    margin: 0rem 0rem 0rem .5rem;
    left: 0;
}

.post__actions {
    /* padding: 1.5rem; */
    margin: .5rem;
}

.post__time {
    /* background-color: red; */
    display: block;
    margin: .5rem;
    /* color: silver; */
    font-size: 9px;
}

time {
    margin: 0rem 0rem 0rem .5rem;
    font-size: 12px;
    /* background-color: red; */
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
    /* background-color: goldenrod; */
}

.header__user-name {
    margin: 0;
    /* color: aqua; */
}

.logout-button {
    /* color: chartreuse; */
    /* background-color: brown; */
}

.main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* background-color: red; */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0px -1px 1px lightgray;
    /* background-color: cadetblue; */
}

.create-post-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
}

.create-post-section__title {
    margin: .5rem 0;
}

.create-post-section__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add-post-button {
    /* color: aqua; */
    /* background-color: brown; */
}