.Header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    gap: .5rem;
    padding: .5rem;
    background-image: url(../../img/background/flag.png);
    background-repeat: no-repeat;
    background-position: top right;
    box-shadow: 0px 1px 1px lightgray;
    background-color: white;
}

.Header--3 {
    font-family: Poppins;
    font-size: 12px;
    color: #424242;
}