html {
    background-color: springgreen;
}

.view {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    background-color: red;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.form__input {
    font-size: inherit;
}

.form__button {
    font-size: inherit;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 90%;
    /* padding: 10rem; */
    /* margin: 2rem; */
    background-color: black;
}

.post {
    /* border: 1px solid black; */
    /* padding: 1.5rem; */
    box-shadow: 1px 1px 10px 1px lightgray;
    padding: 1rem;
    background-color: blueviolet;
}

.post__author {
    margin: .5rem;
}

.post__image {
    width: 100%;
}

.post__caption {
    /* padding: 1.5rem; */
    margin: .5rem;
}

.post__actions {
    /* padding: 1.5rem; */
    margin: .5rem;
}

.post__time {
    display: block;
    margin: .5rem;
    color: silver;
    font-size: .9rem;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
    background-color: goldenrod;
}

.header__user-name {
    margin: 0;
    color: aqua;
}

.logout-button {
    color: chartreuse;
    background-color: brown;
}

.main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* background-color: red; */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0px -1px 1px lightgray;
    background-color: cadetblue;
}

.create-post-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
}

.create-post-section__title {
    margin: .5rem 0;
}

.create-post-section__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add-post-button {
    color: aqua;
    background-color: brown;
}