.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.form__input {
    font-size: inherit;
}

.form__button {
    font-size: inherit;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post {
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px 1px lightgray;
}

.post__author {
    margin: .5rem;
}

.post__image {
    width: 100%;
}

.post__caption {
    margin: .5rem;
}

.post__actions {
    margin: .5rem;
}

.post__time {
    display: block;
    margin: .5rem;
    color: silver;
    font-size: .9rem;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
}

.header__user-name {
    margin: 0;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0px -1px 1px lightgray;
}

.create-post-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
}

.create-post-section__title {
    margin: .5rem 0;
}

.create-post-section__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}