<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="index.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>

<body>
    <div id="root"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.3.1/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.3.1/umd/react-dom.development.js"></script>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="../../util/formatTime.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../util/generateId.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="../../data/deletePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/findPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/findPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/findUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/insertPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/insertUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/updatePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/updateUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/index.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="../../logic/getAllPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getUserName.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getUserUsername.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/loginUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/logoutUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/registerUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/toggleLikePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/updatePostCaption.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/createPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/deletePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/toggleFavPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getAllFavPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/toggleFollowUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getAllFollowingUserPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/index.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="./components/Header.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./components/Post.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./components/PostList.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="./components/Footer.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="index.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
</body>

</html>