html {
    background-color: #1d1d1d;
    margin: 0;
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.view {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url(./img/background/flag.png);
}