<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="../../../app/img/ponies_favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monofett&&family=Poller+One&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>

<body>
    <main class="view">
        <div class="status-bar">
            <div class="left-side">
                <!-- <p>Left Side</p> -->
                <span class="time" id="current-time"></span>
            </div>
            <!-- <p>Left Side</p> -->
            <div class="right-side">
                <img class="status-field" src="../../img/Right Area.png" alt="Icon Field"></img>
            </div>
        </div>
        
        <form class="form">
            <div class="ponies-field">
                <h1 class="ponies-text">PONIES</h1>
            </div>
            <h2 class="heading_h2">Login</h2>
            <p class="login_paragraph">Welcome back you’ve been missed!</p>
            <div class="form__field">
                <label for="username-input"></label>
                <input class="form__input" type="text" id="username-input" name="username" placeholder="username">
            </div>

            <div class="form__field">
                <label for="password-input"></label>
                <input class="form__input" type="password" id="password-input" name="password" placeholder="password">
            </div>

            <div class="text__field" type="text">
                <p>Forgot your password?</p>

            </div>

            <button class="form__button" type="submit">Login</button>

            <a href="">Register</a>

            <div class="text_field">
                <p>Or continue with</p>
            </div>

            <div class="icon_field">
                <img class="facebook_icon" src="" alt="&#9429;">
                <img class="apple_icon" src="" alt="&#63743;">
            </div>
        </form>
    </main>
    <script src="index.mjs" type="module"></script>
</body>

</html>