.Header {
    font-family: Poppins;
    display: flex;
    justify-content: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    gap: .5rem;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    box-shadow: 0px 1px 46px 0px #d1d1d1;
    background-image: url(../../../img/background/background_img.png);
    background-position: 32vw;
    background-repeat: no-repeat;
}

.header__user-name {
    font-family: Poppins;
    font-size: 16px;
}