<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="shortcut icon" href="https://b00tc4mp.com/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <script src="../../util/formatTime.js"></script>
    <script src="../../util/generateId.js"></script>

    <script src="../../logic/getUserName.js"></script>
    <script src="../../logic/logoutUser.js"></script>
    <script src="../../logic/createPost.js"></script>
    <script src="../../logic/getAllPosts.js"></script>
    <script src="../../logic/getUserUsername.js"></script>
    <script src="../../logic/deletePost.js"></script>
    <script src="../../logic/updatePostCaption.js"></script>

    <script src="../Component.js"></script>

    <script src="../components/Paragraph.js"></script>
    <script src="../components/Button.js"></script>
    <script src="../components/Heading.js"></script>
    <script src="../components/Image.js"></script>
    <script src="../components/Form.js"></script>

    <script src="./components/Header.js"></script>
    <script src="./components/PostList.js"></script>
    <script src="./components/Post.js"></script>

    <script src="index.js"></script>
</body>

</html>