.Button {
    font-family: Poppins;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 4px 6px;
    background-color: #075277;
    color: #eee;
    cursor: pointer;
    text-align: center;
    box-shadow: #69696959 0px 5px 15px;
}

.Button--reverse {
    background-color: #ffffff;
    color: #075277;
}

.Button--follow {
    box-sizing: border-box;
    width: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0;
    color: #fff;
}

.Button--header {
    font-size: 11px;
    font-weight: 500;
    padding: 1px;
    color: #075277;
    background-color: rgb(255, 255, 255);
}