.Container {
    display: flex;
    box-sizing: border-box;
    padding: .4rem;
}

.Container--column {
    flex-direction: column;
}

.Container--center {
    justify-content: center;
}

.Container--right {
    justify-content: end;
}

.Container--buttons--center {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: .4rem;
}