.Heading {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #075277;
}

.Heading--center {
    justify-content: center;
}