<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <main class="view">
        <h1>Login</h1>

        <form class="form">
            <div class="form__field">
                <label for="username-input">Username</label>
                <input class="form__input" type="text" id="username-input" name="username" placeholder="username">
            </div>

            <div class="form__field">
                <label for="password-input">Password</label>
                <input class="form__input" type="password" id="password-input" name="password" placeholder="password">
            </div>

            <button class="form__button" type="submit">Login</button>
        </form>

        <a href="">Register</a>
    </main>

    <script src="../../logic/loginUser.js"></script>
    <script src="index.js"></script>
</body>

</html>