.Header {
    display: block;

    min-width: 100%;
    gap: .5rem;
    padding: .7rem .5rem .7rem .5rem;

    background-image: url(../../../img/background/background_img.png);
    background-repeat: no-repeat;
    background-position: top right;

    box-shadow: 0px 1px 1px lightgray;
    background-color: white;
}