.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* Style */
    font-family: Poppins;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.form__input {
    font-size: inherit;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d7d7d7;
    border-color: lightblue;
    border-radius: 4px;
    box-shadow: none;
    border: none;

    padding: 4px 6px 4px 6px;
}

.form__button {
    /* Style */
    font-family: Poppins;
    font-size: 1rem;
    /* Test */
    border: 1px solid red;
    background-color: red;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
}

.post {
    box-shadow: 1px 1px 10px 1px lightgray;
}

.post__top {
    display: flex;
    margin: 0 .5rem;
    align-items: center;
    gap: .5rem;
}

.post__author {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
}

.post__image {
    width: 100%;
}

.post__caption {
    margin: .5rem;
}

.post__actions {
    margin: .5rem;
    display: flex;
    gap: .5rem;
}

.post__time {
    display: block;
    margin: .5rem;
    color: silver;
    font-size: .9rem;
}

.header {
    font-family: Poppins;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: .5rem;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
}

.header__user-name {
    margin: 0;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.post__actions {
    font-family: Poppins;
    margin: .5rem;
    display: flex;
    gap: .5rem;
}

.edit-caption__button {
    
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0px -1px 24px #bcbcbc;
}

.add_post_button {
    font-size: 18px;
    background-color: inherit;
    color: #c39a2b;
    border: 3px solid #c39a2b;
    border-radius: 24px;
}

.create-post-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
}

.create-post-section__title {
    margin: .5rem 0;
}

.create-post-section__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}